@using System.EnterpriseServices
@using ExamAssistant.Models
@model ExamAssistant.Models.Student

@helper DisplayExamTable(Dictionary<Exam, ExamInfo> userExam)
{
    List<Exam> exams = userExam.Keys.ToList();
    List<ExamInfo> examInfos = userExam.Values.ToList();
    int userExamsLength = userExam.Count;

    for (int i = 0; i < userExamsLength; i++)
    {
        Exam exam = exams[i];
        ExamInfo info = examInfos[i];
        <tr>
            <td>@(i + 1)</td>
            <td>@exam.Name</td>
            <td>@exam.Subject - @exam.Type</td>
            <td>@info.Date.ToString("MM/dd/yyyy")</td>

            @if (info.Status == ExamStatus.New)
            {
                <td>-/@exam.Total</td>
                <td>
                    @Html.ActionLink("Take Now", "Take", new {selectedExam = exam.Name}, new {@class="btn btn-success"})
                </td>
            }
            else
            {
                <td>TotalScore/@exam.Total</td>
            }
            
        </tr>
    }
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Analytics</a></li>
                <li><a href="#">Export</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <h2 class="sub-header">Your Exams</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Exam Type</th>
                            <th>Schedule</th>
                            <th>Score</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @DisplayExamTable(Model.NewExams)
                    </tbody>
                </table>
            </div>

            <h2 class="sub-header">Exam History</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Subject</th>
                            <th>Exam Type</th>
                            <th>Schedule</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @DisplayExamTable(Model.CompletedExams)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>